<!--Navbar-->
<nav class="navbar navbar-expand-lg" style="background:rgb(60,36,139);">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/home">Accueil</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin
          <span class="sr-only">(current)</span>
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/login">connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/loginmesure">mesures</a>
      </li>
   
      <!-- Dropdown -->
      <li class="nav-item">
        <a class="nav-link" href="/maintenance">maintenance</a>
      </li>

    </ul>
    <!-- Links -->

    <form class="form-inline" action="article/recherche">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Search" name="article">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->