{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
<div style="clear:both; height: 50px">&nbsp;</div>

    <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row">
  
  <table id="table" class="table table-striped table-bordered table-white" style="width:100%;">
    <thead class="thead-dark">
    <tr>
      <th>NumFib</th>
      <th>PerteConnecteur</th>
      <th>CumuleConnecteur</th>
      <th>PerteDistance</th>
      <th>CumuleDistance</th>
      <th>BilanPerte</th>
      <th>Episure</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      {% for reflecto in liste_mesures %}
      <tr>
        <td>{{reflecto.NumFiber}}</td>
        <td>{% if reflecto.PerteConnecteur >= '5' %}{{reflecto.PerteConnecteur}} [Mauvaise] {% else %}{{reflecto.PerteConnecteur}}{% endif %}</td>
        <td>{% if reflecto.CumuleConnecteur >= '5' %}{{reflecto.CumuleConnecteur}} [Mauvaise] {% else %}{{reflecto.CumuleConnecteur}}{% endif %}</td>
        <td>{% if reflecto.PerteDistance >= '5' %}{{reflecto.PerteDistance}} [Mauvaise] {% else %}{{reflecto.PerteDistance}}{% endif %}</td>
        <td>{% if reflecto.CumuleDistance >= '5' %}{{reflecto.CumuleDistance}} [Mauvaise] {% else %}{{reflecto.CumuleDistance}}{% endif %}</td>
        <td>{% if reflecto.BilanPertes >= '5' %}{{reflecto.BilanPertes}} [Mauvaise] {% else %}{{reflecto.BilanPertes}}{% endif %}</td>
        <td>{% if reflecto.Episure >= '0.1' %}{{reflecto.Episure}} [Mauvaise] {% else %}{{reflecto.Episure}}{% endif %}</td>
        <td>
            <a href="{{reflecto.photo.url}}" class="btn btn-success text-white">Voir plus</a>
        </td>
      </tr>
      {% endfor %}
    </thead>
  </table>
  </div>
  <div>
  </div>

  </div>

</div>
<div style="clear:both; height: 85px">&nbsp;</div>
{% endblock %}