body {
    color: rgb(231, 22, 22);
    background-color: rgb(201, 5, 5);
}

.chat {
    width: 35%;
    height: 500px;
    background-color: #000;
    border: 1px grey solid ;
    margin: 5% 30% ;
}

.chat .res {
    height: 70px;
    background-color: #fff;
    position: relative;
        bottom: -90%;
}